@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.top {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    color: #E8833A;
    background-color: #C3CFD9;
}
